<div class="container">
  <div>
    <h2>
      Add a new product
    </h2>
  </div>

<hr>

<div>
  <div>
    <form action="/insert_product" method="post">
      <div class="mb-3">
        <label for="name_box" class="form-label">
          Name
        </label>
        <input type="text" id="name_box" name="query_name" class="form-control">
      </div>

      <div class="mb-3">
        <label for="description_box" class="form-label">
          Description
        </label>
        <input type="text" id="description_box" name="query_description" class="form-control">
      </div>

      <div class="mb-3">
        <label for="price_box" class="form-label">
          Price
        </label>
        <input type="text" id="price_box" name="query_price" class="form-control">
      </div>

      <div class="mb-3">
        <label for="category_id_box" class="form-label">
          Category
        </label>
        <input type="text" id="category_id_box" name="query_category_id" class="form-control" >
      </div>

      <button class="btn btn-primary mb-3">
        Create product
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
      </tr>
      <% @list_of_products.each do |a_product| %>
        <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text"><%= a_product.name %></p>
              <p><%= a_product.description %></p>
              <p><%= a_product.price %></p>
               <a href="/products/<%= a_product.id %>" class="btn btn-primary">Show details</a>
            </div>
        </div>
      <% end %>
  </div>
</div>

</div>
