<div class="container">
<div>
  <h1>
    List of all products
  </h1>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new product
    </h2>

    <form action="/insert_product" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description">
      </div>

      <div>
        <label for="price_box">
          Price
        </label>

        <input type="text" id="price_box" name="query_price">
      </div>

      <div>
        <label for="category_id_box">
          Category
        </label>

        <input type="text" id="category_id_box" name="query_category_id">
      </div>

      <button>
        Create product
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
      </tr>
      <% @list_of_products.each do |a_product| %>
        <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text"><%= a_product.name %></p>
              <p><%= a_product.description %></p>
              <p><%= a_product.price %></p>
               <a href="/products/<%= a_product.id %>" class="btn btn-primary">Show details</a>
            </div>
        </div>
      <% end %>
  </div>
</div>

</div>
